.control-label {
    font-weight: 400;
    margin-bottom: 10px;
}

select {
    border-radius: 2px;
    width: 100%;
}

.btn-default:hover {
    background: #f8f8f8 !important;
    box-shadow: none;
}



.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: none;
    color: #00a7e1 !important;
    word-wrap: break-word;
    white-space: normal;
}